/ .row
/   / .span4
/   /   %img{:class => "img-polaroid", :src => "img/mugshot.png"}
/   .span4
/     %img{:class => "img-polaroid", :src => "img/wap_branding.png"}
/   .span6
/     %a{:href => "http://pinterest.com/williamafendy"}
/       %img#pinterest.stack{:src => "img/pinterest_g.png"}
/     %a{:href => "http://www.modelmayhem.com/819130"}
/       %img#modelmayhem.stack{:src => "img/modelmayhem_g.png"}
/     %a{:href => "http://www.youtube.com/user/williamafendy"}
/       %img#youtube.stack{:src => "img/youtube_g.png"}
/     %a{:href => "http://www.linkedin.com/in/williamafendy"}
/       %img#linkedin.stack{:src => "img/linkedin_g.png"}
/     %a{:href => "http://github.com/wafendy"}
/       %img#github.stack{:src => "img/github_g.png"}


